body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e4eff1 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.city-card {
  direction: rtl;
  text-align: right;
  display: inline-block;
  background-color: #ffff;
  padding: 3.5%;
  margin-right: 7%;
  margin-top: 5%;
  white-space: nowrap;
}

.temp {
  direction: ltr;
}

.temp-details {
  padding: 0 !important;
  margin-right: 0;
}

.first-row h1,
.first-row img {
  display: inline;
}

img {
  float: left;
}